<!DOCTYPE html>
<html lang="nl">
{% include head.html %}
<body>
  {% include header.html %}
  <main class="main">
    <div class="products">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="YjMyY2JmNGQtY2U2Yi00YmUyLWIxZDktMjYxMmE4YWVlMDBhNjM3NjUzMTYxMzMxMDY4Nzg0" hidden></div>
</body>
</html>
